# =====================
# ENV / SECRETS
# =====================
.env
.env.*
application-*.yml
!application.yml

# =====================
# BACKEND (Spring Boot)
# =====================
target/
backend/target/
*.log

# =====================
# IDE
# =====================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

.vscode/

# =====================
# BUILD TOOLS
# =====================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# =====================
# OS
# =====================
.DS_Store