/* Page */
.dashboard-page {
  min-height: 100vh;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card */
.dashboard-card {
  width: 100%;
  max-width: 800px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Header */
.dashboard-header {
  background: linear-gradient(to right, #06b6d4, #0891b2);
  color: white;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  font-size: 18px;
  font-weight: 600;
}

.dashboard-icons {
  display: flex;
  gap: 10px;
}

.icon-box {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-circle {
  width: 36px;
  height: 36px;
  background: #fde68a;
  color: #92400e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Content */
.dashboard-content {
  padding: 20px;
}

/* Stats */
.stats-containerr {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.stat-card {
  padding: 15px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.stat-label {
  font-size: 15px;
  opacity: 0.9;
}

.stat-value {
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
}

.stat-total {
  background-color: #06b6d4;
}

.stat-pending {
  background-color: #f59e0b;
}

.stat-resolved {
  background-color: #10b981;
}

/* Issues */
.issues-section {
  margin-top: 10px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.issues-table {
  width: 100%;
  border-collapse: collapse;
}

.issues-table th,
.issues-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  font-size: 14px;
}

.issues-table th {
  background-color: #f8fafc;
  font-weight: 600;
}

/* Status badges */
.status {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  color: white;
}

.status.resolved {
  background-color: #10b981;
}

.status.pending {
  background-color: #f59e0b;
}
.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f1f5f9;
}



.page.blur {
  min-height: 100vh;
  background-color: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  filter: blur(4px);
  pointer-events: none;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.crossicon{
  margin-top: 50px;
  width: 50px;
  height: 50px;
  
}

@media (max-width: 450px) {

  /* Stats */
  .stats-containerr {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-bottom: 25px;
  }


}